[Unit]
Description=Send a notification if there's updates every 5 hours and on boot

[Timer]
OnBootSec=15min
OnUnitActiveSec=5h

[Install]
WantedBy=timers.target
